{% extends "base_generic.html" %}

{% block content %}
<div class="bg-warning text-center p-3 m-2">
  <h1 class="text-center">Lista de Comandas</h1>
</div>
{% if comanda_list %}
  <ul>

  {% for comanda in comanda_list %}
    <li>
      <a href="{{ comanda.get_absolute_url }}">
      {{ comanda }} ({{comanda.date_of_birth}} - {% if comanda.date_of_death %}{{comanda.date_of_death}}{% endif %})
      </a>
    </li>
  {% endfor %}

 </ul>
{% else %}
  <h2>Nenhuma Comanda Cadastrada.</h2>
{% endif %}
        
        
        
{% endblock %}