{% extends "base_generic.html" %}

{% block content %}
<div class="bg-warning text-center p-3 m-2">
  <h1 class="text-center">Lista de Comandas</h1>
</div>
{% if comanda_list %}
  <ul class="list-group">

  {% for comanda in comanda_list %}
    <li class="list-group-item list-group-item-action">
      <a href="{{ comanda.get_absolute_url }}" style="text-decoration:none">
      {{ comanda.mesa }}
      </a>
    </li>
  {% endfor %}
    
 </ul>
{% else %}
  <h2>Nenhuma Comanda Cadastrada.</h2>
{% endif %}
<div class="text-center">
  <a href="http://127.0.0.1:8000/costelaria/comanda/create/" class="text-center"><bottom type="button" class="btn btn-lg  mx-auto btn-align-center btn-warning m-5">Criar comanda!</bottom></a>
</div>   
        
{% endblock %}