{% extends "base_generic.html" %}

{% block content %}
  <h1>Local Library Home</h1>
  <p>Bem vindo a Costelaria Portal Sul <em>Desenvolvido em FATEC-SP</em>!</p>
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Comandas:</strong> {{ num_comanda }}</li>
    <li><strong>Pratos:</strong> {{ num_prato }}</li>
    <li><strong>Sobremesas:</strong> {{ num_sobremesa }}</li>
    <li><strong>Bebidas:</strong> {{ num_bebida }}</li>
  </ul>
{% endblock %}
