{% extends "base_generic.html" %}

{% block content %}
  <div>
    <h1 class="display-5 text-center bg-warning p-3 m-2">HOME PORTAL SUL</h1>
  </div>
    <p>Bem-vindo a Costelaria Portal Sul <em>Desenvolvido em FATEC-SP</em>!</p>
    <ul class="list-gorup p-2 mx-auto w-50 ">
      <li class="list-group-item p-3 rounded border border-dark"><h3><strong>Comandas:</strong></h3> {{ num_comanda }}</li>
      <li class="list-group-item p-3 rounded border border-dark"><h3><strong>Pratos:</strong></h3> {{ num_prato }}</li>
      <li class="list-group-item p-3 rounded border border-dark"><h3><strong>Sobremesas:</strong></h3> {{ num_sobremesa }}</li>
      <li class="list-group-item p-3 rounded border border-dark"><h3><strong>Bebidas:</strong></h3> {{ num_bebida }}</li>
    </ul>
{% endblock %}
