{% extends "base_generic.html" %}

{% block content %}
<body>
  <hr class="p-0 m-0 bg-black">
  <div>
    <h1 class="display-5 text-center bg-warning p-3 m-2">PORTAL SUL</h1>
  </div>
  <hr class="p-0 m-0 bg-black">
    <H3 class="text-center m-5">Seja Bem-vindo ao site da Costelaria Portal Sul</H3>
    <H3 class="text-center m-5">Desenvolvido pelos alunos da FATEC-SP!</H3>
    <!--<ul class="list-gorup p-2 mx-auto w-50 ">
      <li class="list-group-item p-3 rounded border border-dark"><h3><strong>Comandas:</strong></h3> {{ num_comanda }}</li>
      <li class="list-group-item p-3 rounded border border-dark"><h3><strong>Pratos:</strong></h3> {{ num_prato }}</li>
      <li class="list-group-item p-3 rounded border border-dark"><h3><strong>Sobremesas:</strong></h3> {{ num_sobremesa }}</li>
      <li class="list-group-item p-3 rounded border border-dark"><h3><strong>Bebidas:</strong></h3> {{ num_bebida }}</li>
    </ul>-->
  <div class="text-center">
    <a href="http://127.0.0.1:8000/costelaria/comandas/"><bottom type="button" class="btn btn-md btn-align-center btn-warning m-5 btn-outline-dark"><h4>Ir para tela de comandas!</h4></bottom></a>
 </div>
 <p>Caso queira ir para a tela de udpade, coloque a sequinte frase no navegador: http://127.0.0.1:8000/costelaria/comanda/id da comanda/update</p> 
 <p>Caso queira ir para a tela de delete, coloque a sequinte frase no navegador: http://127.0.0.1:8000/costelaria/comanda/id da comanda/delete</p>
</body>
    {% endblock %}
